<nav class="main-nav">

  <div class="menu">
    <div class="hamburger-menu" ng-click="mainNavCtrl.toggleMenu()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>

  <section class="toggle-menu" ng-show="mainNavCtrl.showMenu">
    <ul>
      <li class="projects">Projects</li>
      <li class="skills">Skills</li>
      <li class="experience">Experience</li>
      <li class="github">GitHub</li>
      <li class="linked-in">LinkedIn</li>
      <li class="twitter">Twitter</li>
    </ul>
  </section>
  
  <div class="title">
    <h1>Todd Nichols</h1>
  </div>
  
</nav>