/* most portrait mobile devices are the base CSS (iPhones 4-6 and most Android phones) */
.menu {
  width: 40px;
  position: absolute;
  left: 3%;
  top: 1%;
  line-height: 2.7rem;
  z-index: 3;
  .hamburger-menu {
    div.line {
      background-color: #888;
      height: 5px;
      margin-top: 5px;
      border-radius: 2px;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.title {
  position: absolute;
  right: 3%;
  top: 1%;
  z-index: 3;
  h1 {
    margin: 0;
    color: #fff;
    font-family: 'League Gothic';
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2.7rem;
  }
}

.toggle-menu {
  position: relative;
  left: 0;
  width: 100%;
  color: #fff;
  background-color: #ccc;
  z-index: 2;
  transition: left 1s ease;
  &.ng-hide {
    left: -100%;
  }
  ul {
    margin: 0;
    padding: 50px 0 0 0;
    list-style-type: none;
    li {
      padding: 15px 0 15px 70px;
      font-size: 28px;
      border-bottom: 1px solid #888;
      background-repeat: no-repeat;
      background-position: 4% 50%;
      transition: all 0.75s ease;
      &:first-child {
        border-top: 1px solid #888;
      }
      &:hover {
        background-color: #888;
        cursor: pointer;
      }
      &.projects {
        background-image: url(../assets/images/display.png);
      }
      &.skills {
        background-image: url(../assets/images/embed2.png);
      }
      &.experience {
        background-image: url(../assets/images/location.png);
      }
      &.github {
        background-image: url(../assets/images/github.png);
      }
      &.linked-in {
        background-image: url(../assets/images/linkedin.png);
      }
      &.twitter {
        background-image: url(../assets/images/twitter.png);
      }
    }
  }
}



/* Portrait - iPhone 6+ and large Android phones */
@media (min-width: 414px) {
	.menu {
		left: 1%;
	}
	.title {
		right: 1%;
	}
}

/* Landscape - iPhones 4-5 */
@media (min-width: 480px) {
  .toggle-menu {
    width: 300px;
    ul {
      li {
        background-position: 6.5% 50%;
        padding-left: 75px;
      }
    }
  }
}

/* Landscape - iPhone 6 and most Android phones */
@media (min-width: 569px) {

}

/* Landscape - iPhone 6+ and smaller Android tablets */
@media (min-width: 668px) {

}

/* Portrait - iPads and most Android tablets */
@media (min-width: 768px) {

}

/* Landscape - Desktops, iPad, and bigger Android tablets*/
@media (min-width: 1024px) {

}

/* Widescreen Desktops */
@media (min-width: 1240px) {

}
